matrix:
  include:
    - language: python
      sudo: true
      dist: xenial
      python: 3.5
      if: type IN (api, cron)
      before_install:
        - echo $TRAVIS_BRANCH
        - source tests/before_install.sh
      install:
        - pip3 install -e client/py-client/.
        - sudo bash tests/install_zt.sh
      before_script:
        - sudo python3 -u tests/env_setup.py --zos_ip $ZOS_ip --zerotierid $ZT_NET_ID --branch $BRANCH --zt_token $ZT_TOKEN --client_id $CLIENT_ID --client_secret $CLIENT_SECRET
      script:
        - sudo ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -p $ubuntu_port root@$ZOS_ip "cd 0-core/tests; nosetests -v -s testsuite --tc-file config.ini"
      after_script:
        - sudo python3 -u tests/teardown.py --zos_ip $ZOS_ip --client_id $CLIENT_ID --client_secret $CLIENT_SECRET


    - language: go
      sudo: true
      dist: xenial
      go: "1.10.x"
      before_install:
        - sudo apt-get -qq update
        - sudo apt-get install -y libvirt-dev libcap-dev libc6-dev
      install:
        - go get github.com/stretchr/testify
      script:
        - bash test.sh
      after_success:
        - go install ./core0
        - go install ./coreX
        - bash <(curl -s https://codecov.io/bash)
